<title>Count email</title>
        	 	<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
        	 	<link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
<h2>Welcome to email counter</h2>
<form action="" method="post" role="form">
<div class="form-group">
<label for="email">Type Emails:</label>
<input type="text" class="form-control" id="emails" name="emails" placeholder="emails to be countered">

</div>
<button type="submit" class="btn btn-success">Go count</button>
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info">
  <strong>{{ message[1] }}</strong>
</div>
{% endfor %}
{% endif %}
{% endwith %}
</div>
